## **Python Variables**

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [2]:
num = 30

In [3]:
num

30

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named `'num'` and we have assigned value `20` to `'num'` variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example âˆ’

In [6]:
x = y = z = 30

In [8]:
z

30

You can also assign multiple objects to multiple variables

In [9]:
x,y,z = 30, 50, "hello"

In [12]:
x

30

#### Re-assigning a variable

In [17]:
var1 = 20
var2 = "Krishan"
var1 = var2
var1

'Krishan'


## **Python Data Types**

A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:


*   Numbers
*   Strings
*   Boolean
*   Lists
*   Tuples
*   Dictionaries
*   Sets

<a id="num"> </a>
### Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>100</td>
  <td>52.1</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [18]:
type(num)

int

#### float

In [20]:
num2 = 1.23232
type(num2)

float

#### long

Long does not exist in Python 3 onwards

In [21]:
xx = 9999999999999999999999999999999
type(xx)

int

#### complex

Complex numbers are not used much in Python

In [23]:
comp = 3+4j
type(comp)

complex

<a id="str"> </a>
### Python Strings

A string is a sequence of characters. You can delimit a string using single quotes `'string'` or double-quotes `"string"`.

In [26]:
string1 = "Hello"
string1
string2 = 'Hello'
string2

'Hello'

**String operations**

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

You cannot use the minus(-) operator and the division(/) operator on strings.

In [27]:
#Print a concatenated string   
string1+string2

'HelloHello'

In [29]:
#Print a string three times      
string1*5

'HelloHelloHelloHelloHello'

**Indexing in Python**

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing in python starts with `0`

In [33]:
#Print third character of the string
string1[2]
string1[1:4]

'ell'

You can also display a range of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [36]:
# Print last characters
string1[-1]
string1[-4:-1]

'ell'

Strings are immutable.

In [38]:
string1[4] = 'p'
string1

TypeError: 'str' object does not support item assignment

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**.

In [40]:
varbool = True
type(varbool)

bool

In [42]:
varb = 'true'
type(varb)

str

<a id="typecon"> </a>
## **Type Conversion**
If you want to convert a value into another type, Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [44]:
x = 3
float(x)

3.0

You can turn a Boolean into an float.

In [45]:
int(x)

3

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [2]:
string = 'Hello'
float(string)

ValueError: could not convert string to float: 'Hello'

In [6]:
string2 = '222.333'
float(string2)

222.333

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [4]:
num = 22.3
int(num)

22

 You can also turn a Boolean into an int.

In [5]:
bool1 = True
int(bool1)

1

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [10]:
string3 = 'Hello'
int(string3)

ValueError: invalid literal for int() with base 10: 'Hello'

In [9]:
string4 = '222'
int(string4)

222

#### str()
<em>str()</em> converts the value into a string.

In [11]:
num2 = 234
str(num2)

'234'

<a id="print"> </a>
## **Python print()**

In [13]:
#initialize a variable and pass two objects
x = ['A', 'B']
print(x)

['A', 'B']

## **User Input**

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data by default as `string`. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

In [14]:
age = int(input("what is your age: "))

what is your age: 26

In [15]:
age

26

When `input()` function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. if you enter an integer value still `input()` function convert it into a string.

## **Python Operators**

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [17]:
# '+' Operator prints addition of a and b
x1 = 2 + 3
x1

5

In [18]:
# '-' Operator prints subtraction of  a and b
x2 = 2 - 3
x2

-1

In [19]:
# '*' Operator prints multiplication of  a and b
x3 = 2 * 3
x3

6

In [20]:
# '%' Operator prints remainder of division between a and b
x4 = 2 % 3
x4

2

In [21]:
# '/' Operator prints division of  a and b
x5 = 2 / 3
x5

0.6666666666666666

In [22]:
# '//' Operator prints the interger value of the division between a and b 
x6 = 2 // 3
x6

0

In [23]:
# '**' Operator prints the result of a to the power b
x7 = 2 ** 3
x7

8

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [24]:
# '>' Operator
3 > 2

True

In [25]:
# '<' Operator
3 < 2

False

In [26]:
# '==' Operator
3 == 2

False

In [27]:
# '!=' Operator
3 != 2

True

In [28]:
# '>=' Operator
3 >= 2

True

In [29]:
# '<= y' Operator
3 <= 2

False

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

Note:

i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)

In [38]:
# '=' Operator assigns the value to the variable on the left
number = 2
number

2

In [39]:
# '+=' Operator
number += 4
number

6

In [40]:
# '-=' Operator
number -= 4
number

2

In [41]:
# '*=' Operator
number *= 2
number

4

In [42]:
# '/=' Operator
number /= 2
number

2.0

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator â€“ **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [44]:
3 > 2 & 2 == 2

True

In [46]:
3 < 2 & 2 == 2

False

Here if both the conditions are satisfied, we have `True` as the output, else `False`

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [53]:
3 > 2 or 2 > 3

True

In [56]:
4 < 2 or 5 > 10

False